  <div id="home-page">
    <div id="header">
      <div id="header_title">Remaining money this week</div>
      <div id="weekly_balance"></div>
      <nav></nav>
    </div>
  
  
      <div class="input_wrapper">
        <div class="input">
          
            <input id="transaction-input" type="text" placeholder="Amount">

        </div>
      </div>

    <div id="content">
      <ul id="categories"></ul>     
    </div>
  </div>

   <div id="transactions-page" class="no-display">
    
      <ul id="transactions"></ul>
  
  </div>

  <div id = "add-category-page">
    <div id="category-header"><p> ADD CATEGORY </p></div>
      <div class="input_wrapper">
        <div class="input">
          <input id="category-input" type="text" placeholder="add text">
        </div>
        <button id="category-submit">Add Category</button>
        <button class="close">Cancel</button>
      </div>
    </div>
  

<div id="menu-page">
  <div id="menu-contents">
    <ul id="menu-items">
      <li><a href="#">Add a new category</a></li>
      <li><a href="#">Add a new weekly budget</a></li>
      <li><a href="#">Create a new budget</a></li>
      <li><a href="#">Select from budget</a></li>
    </ul>
  </div>
</div>

<div id="new-weekly-budget-page">
  <div id="weekly-header"><p> ADD WEEKLY BUDGET </p></div>
    <div class="input_wrapper">
      <div id="input">
        <input id="budget-input" type="number" placeholder="Budget amount">
      </div>
      <div id="day-of-week">
        <p>Date: <input type="text" class="datepicker" id="datepicker" size="30"></p>
      </div>
      <button id="weekly-budget-submit">Add Weekly Budget</button>
      <button class="close">Cancel</button>
    </div>
</div>

<div id="new-budget-page">
  <div id="budget-header"><p> CREATE NEW BUDGET </p></div>
    <div class="input_wrapper">
      <div id="input">
        <input id="new-budget-input" type="text" placeholder="Budget name">
      </div>
      <button id="new-budget-submit">Create Budget</button>
      <button class="close">Cancel</button>
    </div>
</div>

<div id="select-budget-page">
  <div id="budget-header"><p> SELECT BUDGET </p></div>
    <ul id="budgets"></ul> 
</div>


