 <div id="home-page">
    <div id="header">
      <div id="weekly_balance">
      </div>
      
      <nav></nav>
    </div>
  
    <div id="content">
      <div id="input_wrapper">
        <div id="input">
          
            <input id="transaction-input" type="text" placeholder="Enter">
            
          
        </div>
      </div>

      <ul id="categories"></ul>      
    </div>
  </div>

   <div id="transactions-page" class="no-display">
    
      <ul id="transactions"></ul>
  
  </div>