
#home-page{
  position: absolute;
  width: 320px;
  height: 460px;
 
}

.setButton{
 position: relative;
 height:10px;
 width: 10px;
 top: -10px;
 left: 50px;

}

#transaction-input{
  margin:2px 0 0 10px;
  width: 240px;
  height: 40px;
  border-radius: 5px;
  font-size: 300%;

}

#transactions-page{
  position: absolute;
  width: 320px;
  height: 460px;
  left: 320px;
  overflow: scroll;
 
 
}

#categories, #transactions, #menu-items{
  list-style-type: none;
  padding:0px;
  margin: 0px;
}

#weekly_balance{
  position: relative;
  top: 10px;
  left: 60px;
  width:180px;
  height: 60px;
  border-radius: 90px;
  border: 2px solid green;
  text-align: center;

}

#current{
  position: relative;
  top: -25px;
  font-size: 400%;

}


#header {
  border: 2px solid green;
  width: 300px;
  height: 100px;
  padding: 0 0 0 0;
  border-radius: 20px;
}

#content{
  margin: 5px 0 0 0 ;
  width: 300px;
  height: 345px;
  overflow: scroll;
  /*border: 2px solid red;*/

}

.input{
  margin: 5px 0 5px 5px;
  width: 280px;
  height: 50px;
  /*border: 2px solid green;*/
  border-radius: 5px;

}


.input_wrapper{
  margin: 5px 0 5px 0;
  width: 295px;
  height: 60px;
  /*border: 2px solid blue;*/
  
}

.selected{
  background-color: red;
}

.article {
margin: 5px;
  width: 290px;
  height: 50px;
  border: 2px solid green;
  border-radius: 5px;
  font-size: 250%;
  /*text-align: center;*/
  line-height: 50px;
 
}

.arcticle.amount{
  text-align: right;
}
.no-display{
  display: none;
}

#header_title{
background-color: green;
color: white;
border-top-left-radius: 20px;
border-top-right-radius: 20px; 
text-align: center;

}

.to-display{
  display: block;
}

#category-header{
  width: 300px;
  height: 20px;
  font-size: 400%;
  color: yellow;
  background-color: red;
  text-align: center;
  vertical-align: middle;
}

#category-input{
  margin:2px 0 0 10px;
  width: 240px;
  height: 40px;
  border-radius: 5px;
  font-size: 300%;

}

#category-submit{
  width: 300px;
  height: 40px;
  font-size: 100%;

}

.close{
  width: 300px;
  height: 40px;
  font-size: 100%;

}

#add-category-page{
  position: absolute;
  width: 320px;
  height: 460px;
  left: 320px;
  overflow: hidden;
}

#menu-page{
  position:absolute;
  width:300px;
  right: 320px;
}

.amount{
  text-align: right;
}






